/* 
Dev comments: ====
This css should compose of variables. 
Please use variables for dynamic use of styles. 
====
*/

/* theme for text colors */

:root {
    --txt-red: red;
    --txt-blue: blue;
    --txt-darkBlue: darkblue;
    --txt-lightB: #3399ff;
    --txt-green: green;
    --txt-yellow: yellow;
    --txt-orange: orange;
    --txt-black: black;
    --txt-white: white;
}

/* theme for background colors */

:root {
    --bg-red: red;
    --bg-blue: blue;
    --bg-darkBlue: darkblue;
    --bg-lightBlue: lightblue;
    --bg-green: green;
    --bg-yellow: yellow;
    --bg-orange: orange;
    --bg-black: black;
    --bg-white: white;
}

